body {
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
}

main {
    display: flex;
    flex-direction: row;
    flex: 1;
}

article {
    flex: 2;
    padding: 10px;
    width: 67%;
}

aside {
    flex: 1;
    padding: 10px;
    width: 33%;
}

footer {
    width: 100%;
}