body {
    display: flex;
    flex-direction: column;
    background-color: blanchedalmond;
    color: rgb(230, 139, 3);
}

header {
    width: 100%;
}

main {
    display: flex;
    flex-direction: row;
    flex: 1;
}

article {
    flex: 2;
    padding: 10px;
    width: 67%;
}

aside {
    flex: 1;
    padding: 10px;
    width: 33%;
    background-color: rgb(16, 36, 30);
}

footer {
    width: 100%;
}